<!DOCTYPE html>
<html>

<head>
    <link href="../static/assets/css/main.css" rel="stylesheet">
    <title>Exact Codon</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <style>
        html,
        body {
            background-color: #008374FF; /* Set background color for both html and body */
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5 mx-auto">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5">


                        <h2 class="fw-bold mb-2 text-uppercase text-center">Codon.<span style="color: #f96f59;">Matcher</span></h2>
                        <div class="text-center-all mb-4">
                            {% set image_path = url_for('static', filename='aminoacid_images/' + amino_acid.lower() + '.png') %}
                            {% if image_path %}
                            <img src="{{ image_path }}" alt="{{ amino_acid }}" class="img-fluid mb-3"
                                style="height: 150px; width: 340px;"> <!-- Adjusted image size and margin -->
                            {% else %}
                            <p>No image available for this amino acid.</p>
                            {% endif %}
                        </div>
                        <div class="text-center" >
                        <p class="mb-3 text-center-all">Codon: {{ codon }}</p>
                        <p class="mb-3 text-center-all">Amino Acid: {{ amino_acid }}</p>
                        <p class="mb-3 text-center-all">Anticodon: {{ anticodon }}</p>
                        </div>
                        {% if amino_acid_info != "Information not available" %}
                        <h4 class="text-center-all">Amino Acid Information:</h4>
                        <ul>
                            {% for info in amino_acid_info %}
                            <li>{{ info }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p class="text-center-all">No information available for this amino acid.</p>
                        {% endif %}

                        <div class="text-center mt-3">
                            <a class="fw-bold mb-2 text-uppercase" href="/">Back</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
